$colororigin: #ffa96e;
$colorgreen: #34c758;
$colorgreen2: #0050b3;
$colorheader: #009bb4;
.myapplication-container{
    .myapply-item{
        padding: 15px;
        margin: 15px;
        border-bottom: .5px solid #ddd;
        .myapply-li{
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 22px;
            font-family: "PingFangSC";
            .info-name{
                font-weight: 700;
                color: rgb(0, 0, 0);
                font-style: normal;
                letter-spacing: 0px;
                text-decoration: none;
            }
            .info-value{
                font-weight: 400;
                color: rgb(77, 77, 77);
                font-style: normal;
                // letter-spacing: 0px;
                text-decoration: none;
            }
        }
    }
    .myapply-btn{
        margin:15px 0;
        .btn{
            &.active{
                color: #fff;
                background-color: $colorgreen;
            }
            &.inactive{
                color: #d9d9d9;
                background-color: #919191;
            }
        }

    }
    .myapply-tooltip{
        text-align: center;
        .tooltip1{
            line-height:0;
            margin-bottom:5px;
            .span1{
                font-family:PingFangSC; 
                font-weight:400; 
                font-size:13px; 
                color:rgb(0, 0, 0); 
                font-style:normal;
                letter-spacing:0px; 
                line-height:18px; 
                text-decoration:none;
            }
            .span2{
                font-family:PingFangSC; 
                font-weight:700; 
                font-size:13px; 
                color:rgba(39, 177, 72, 1); 
                font-style:normal; 
                letter-spacing:0px; 
                line-height:18px; 
                text-decoration:none;
            }
        }
        .tooltip2{
            line-height:0;
            margin-bottom:5px;
            .span1{
                font-family:PingFangSC; 
                font-weight:400; font-size:10px; 
                color:rgba(123, 123, 123, 1); 
                font-style:normal; 
                letter-spacing:0px; 
                line-height:14px; 
                text-decoration:none;
            }
            .span2{
                color:rgba(39, 177, 72, 1)
            }
            .span{
                color:rgba(255, 37, 37, 1)
            }
        }
    }
}